
@font-face {
    font-family: 'SulphurPoint-Regular';
    src: url('./fonts/SulphurPoint-Regular.ttf') format('opentype');
}

* {
    font-family: 'SulphurPoint-Regular' !important;
}


.uk-grid {
    width: 100%;
    margin: 0px;
    height: 100vh;
}

#bg-fill {
    background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGh6N2l2ajU4MG40YXFtMnlweHc4bGw0dmRxdjVxMGZtcWtlcDJrdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/13bGgH9VnEDsuA/giphy.gif);
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    padding: 0px;
}



#list-bgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust alignment as needed */
    align-items: stretch; /* Ensure items stretch to fill container vertically */
    list-style: none;
    padding: 0;
    width: 90%;
    margin-left: 5%;
}

#list-bgs li {
    flex: 1 1 40%; /* Adjust flex properties as needed */
    margin: 5px; /* Adjust margin as needed */
}

#list-bgs img {
    max-height: 100px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: .5s;
}

#list-bgs img:hover {
    filter: hue-rotate(180deg);
    border: 5px solid cyan;
    border-radius: 15px;
}


.np-container {
    position: fixed;
    bottom: 1vh;
    left: 1vw;
    padding: 1vh;
    border-radius: 2vh;
    max-width: 50vw;
}

.np-container h1, h2, h3 {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
}

.np-container:hover {
    background-color: rgba(0, 255, 149, 0.50); /* Change background color on focus */
}

.np-container:hover #np-song,
.np-container:hover #np-artist,
.np-container:hover #np-bg {
    color: rgba(105, 7, 0, 0.74);
}

#volume-slider {
    display: none;
}


.search-container {
    display: flex; /* Use flexbox layout */
    justify-content: space-between;
    align-content: center;
    width: 95vw; /* Optional: Adjust the width of the container */
    position: absolute;
    top: 1vh;
    left: 2.5vw;
    right: 0;
    z-index: 2;
}

#search-songs {
    display: inline-block;
    max-width: 40vw;
    padding: 0;
    margin: 0;
}

#search-visuals {
    display: inline-block;
    max-width: 40vw;
    padding: 0;
    margin: 0;
}

.song-results-list {
    list-style-type: none;
    border-radius: 8px;
    margin-bottom: 0;
    margin-left: 5%;
    padding-left: 0;
    width: 90%;
}

.song-results-list li {
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 5px;
    margin:5px;
    transition: .25s;
}

.song-results-list li:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 255, 149, 0.50);
    color: rgba(105, 7, 0, 0.74);
}

.song-results-list li a {
    text-decoration: none;
    color: inherit;
}

.br-container {
    position: fixed;
    justify-content: right;
    border: none;
    bottom: 5px;
    right: 15px;
}


.uk-button {
    border: none;
    border-radius: 10px;
    color:  rgba(255, 255, 255, 0.8);
    font-size: 115%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 100%;
}

.uk-button:hover {
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 255, 149, 0.50);
    color: rgba(105, 7, 0, 0.74);
    font-size: 115%;
}


#toggle-animation {
    z-index: 1;
}


#lyrics {
    white-space: pre-wrap;
}

#search-sgs {
    margin-bottom: 2.5px;
}

#search-sgs,
#search-bgs {
    padding: 15px; /* Add some padding to give space around the text */
    border: none; /* Remove the border */
    border-radius: 5vh; /* Add border-radius for rounded corners */
    transition: background-color 0.3s; /* Add transition for smooth color change */
    color: rgba(255, 255, 255, 0.8);
}

#search-sgs::placeholder,
#search-bgs::placeholder {
    color: rgba(255, 255, 255, 0.8); /* Set the placeholder text color */
}

#search-sgs:focus,
#search-bgs:focus {
    background-color: rgba(0, 255, 149, 0.50); /* Change background color on focus */
    outline: none; /* Remove default focus outline */
    color: rgba(105, 7, 0, 0.74);
}

