
@font-face {
    font-family: 'SulphurPoint-Regular';
    src: url('./fonts/SulphurPoint-Regular.ttf') format('opentype');
}

* {
    font-family: 'SulphurPoint-Regular' !important;
}


.uk-grid {
    width: 100%;
    margin: 0px;
    height: 100vh;
}

#bg-fill {
    background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGh6N2l2ajU4MG40YXFtMnlweHc4bGw0dmRxdjVxMGZtcWtlcDJrdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/13bGgH9VnEDsuA/giphy.gif);
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    padding: 0px;
}

#results-bgs ul li img {
    max-width: 130px;
}

#results-bgs ul {
    list-style: none;
}


.np-container {
    position: fixed;
    bottom: 1vh;
    left: 1vw;
    padding: 1vh;
    background-color: rgba(0, 255, 255, 10%);
    border-radius: 2vh;
}

.np-container h1, h2, h3 {
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
}

.search-container {
    display: flex; /* Use flexbox layout */
    justify-content: space-between;
    align-content: center;
    width: 100%; /* Optional: Adjust the width of the container */
    position: absolute;
    top: 1vh;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 255, 255, 20%);
}

#search-songs {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#search-visuals {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.song-results-list {
    list-style-type: none;
    background-color: rgba(0, 255, 255, 40%);
}

.song-results-list li a {
    text-decoration: none;
    color: inherit;
}

.np-song, .np-artist, .np-bg {
    padding: 0px;
    margin: 0px;
}

.br-container {
    position: fixed;
    justify-content: right;
    bottom: 0;
    right: 0;
}

#toggle-animation {
    z-index: 1;
}

.save-button {
    width: 15vw;
}

#lyrics {
    white-space: pre-wrap;
}

#search-sgs,
#search-bgs {
    padding: 10px; /* Add some padding to give space around the text */
    border: none; /* Remove the border */
    border-radius: 5vh; /* Add border-radius for rounded corners */
    transition: background-color 0.3s; /* Add transition for smooth color change */
}

#search-sgs::placeholder,
#search-bgs::placeholder {
    color: rgba(255, 255, 255, 0.8); /* Set the placeholder text color */
}

#search-sgs:focus,
#search-bgs:focus {
    background-color: rgba(0, 255, 149, 0.50); /* Change background color on focus */
    outline: none; /* Remove default focus outline */
}